<div class="container max-w-md mx-auto bg-white rounded-lg shadow-md p-8">
    <h2 class="text-2xl font-bold text-center mb-6">User Registration Form</h2>
    <form [formGroup] = "userForm" (submit)="onSubmit()" action="your-backend-endpoint" method="">
        <div class="mb-4">
            <label for="name" class="block font-semibold text-sm mb-1">Name:</label>
            <input type="text" id="name" name="name" required formControlName="name"
                   class="w-full px-3 py-1 border border-gray-300 rounded-md">
                   @if (userForm.get('name')?.hasError('required') && userForm.get('name')?.touched) {
                    <div class="font-sans text-red-600 text-xs">Name is required</div>
                   }
        </div>
        <div class="mb-4">
            <label for="userName" class="block font-semibold text-sm mb-1">Username:</label>
            <input type="text" id="userName" name="userName" required formControlName="userName"
                   class="w-full px-3   py-2 border border-gray-300 rounded-md">
                   @if (userForm.get('userName')?.hasError('required') && userForm.get('userName')?.touched) {
                    <div class="font-sans text-red-600 text-xs">Username is required</div>
                   }
        </div>
        <div class="mb-4">
            <label for="email" class="block font-semibold text-sm mb-1">Email:</label>
            <input type="email" id="email" name="email" required formControlName="email"
                   class="w-full px-3  py-2 border border-gray-300 rounded-md">
                   @if (userForm.get('email')?.hasError('required') && userForm.get('email')?.touched) {
                    <div class="font-sans text-red-600 text-xs">email is required</div>
                   }
                   @else if (userForm.get('email')?.hasError('email') && userForm.get('email')?.touched) {
                    <div class="font-sans text-red-600 text-xs">Fill with a valid email</div>
                   }
        </div>
        <div class="mb-4">
            <label for="dateNaissance" class="block font-semibold text-sm mb-1">Date of Birth:</label>
            <input type="date" id="dateNaissance" name="dateNaissance" required formControlName="dateNaissance"
                   class="w-full px-3   py-2 border border-gray-300 rounded-md">
                   @if (userForm.get('dateNaissance')?.hasError('required') && userForm.get('dateNaissance')?.touched) {
                    <div class="font-sans text-red-600 text-xs">dateNaissance is required</div>
                   }
        </div>
        <div class="flex flex-row  ">
            <div class="mb-4 w-full sm:w-fit m-2">
                <label for="password" class="block font-semibold text-sm mb-1">Password:</label>
                <input type="password" id="password" name="password" required formControlName="password"
                       class="w-full px-3  py-2 border border-gray-300 rounded-md">
                       @if (userForm.get('password')?.hasError('required') && userForm.get('password')?.touched) {
                        <div class="font-sans text-red-600 text-xs">password is required</div>
                       }
            </div>
            <div class="mb-4">
                <label for="role" class="block font-semibold text-sm mb-1">Role:</label>
                <select id="role" name="role" required formControlName="role"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md">
                    <option value="USER">User</option>
                    <option value="ADMIN">Admin</option>
                </select>
                @if (userForm.get('role')?.hasError('required') && userForm.get('role')?.touched) {
                    <div class="font-sans text-red-600 text-xs">role is required</div>
                   }
            </div>
        </div>
        
        <div class="flex flex-row">
            <input type="submit" value="Submit"
               class="w-fit bg-blue-700 hover:bg-blue-800 text-white font-medium rounded-md px-6 py-3 cursor-pointer">
                  
            <input type="button" value="Cancel" (click)="onClose()"
                class="w-fit bg-gray-700 hover:bg-gray-400 text-white font-medium rounded-md px-6 py-3 cursor-pointer" >
                  
        </div>
        
    </form>
</div>
